h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

body {
  background-color: #e4edf0;
  font-family: helvetica;
}

.Lisa {
  float:left;
  width:350px;
  background-color: pink;

}



.Charles {
  float:left;
  width:350px;
  background-color: #bd9fd6;

}


.Cookie {
  float: left;
  width: 350px;
  background-color: #1e16b8;
  color: white;
  
}

img {
  width: 330px;
  height: auto;
}

div {
  padding-bottom: auto;
  padding-left: 14px;
  margin: 10px;

}

span {
  font-weight: bold;
}

.Cookie span {
  font-family: fantasy;
}
